div.cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin-top: 20px;
    overflow-y: auto;
    padding-bottom: 10px;
}

div.card{
    width: 400px;
    margin: 6px;
    border: 2px solid #E74C3C;
    border-radius: 10px;
    height: 390px;
}

div.card img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.card div.date {
    text-align: center;
    background-color: #ccc;
    font-weight: 700;
    padding: 4px;
}

div.card h3{
    text-align: center;
    margin: 0;
    padding: 4px;
}

div.card div.address{
    display: flex;
    min-height: 24px;
    align-content: center;
}

div.card div.adress img.mapmark {
    height: 24px;
    width: 24px;
    display: inline-block;
    padding-top: -4px;
    padding-bottom: -4px;
}

div.card div.description{
    padding: 0 8px;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

div.card div.description p{
    margin: 4px 0;
    font-style: italic;
}

div.card div.details{
    text-align: right;
    padding: 8px;
}

div.card div.details button{
    padding: 4px 20px;
    background-color: #E74C3C;
    border: 1px solid #E74C3C;
    border-radius: 4px;
    cursor: pointer;
    color: #eee;

}