<div class="cards">
    @for (ch of challenges; track $index) {
        <div class="card" >
            <img alt="" [src]="ch.image">
            <div class="date"> {{ch.date}}</div>
            <h3>{{ch.name}}</h3>
            <div class="address">
                <img src="images/mapmark.svg" class="mapmark">
                <span>{{ch.from}}</span>
            </div>
            <div class="description">
                @for (line of ch.info; track $index){
                    <p>{{line}}</p>
                }
            </div>
            <div class="details">
                <button>Részletek</button>
            </div>
        </div>
    }

</div>